* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

header {
    font-family: 'Florilst Realik', sans-serif;
    text-align: center;
    margin: 2em;
    font-size: 24px;
    letter-spacing: 2px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#showGallery {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5em;
}

.cursor {
    cursor: pointer;
}

.imgLayout {
    width: 350px;
    height: 250px;
    justify-self: center;
    transition: transform 0.5s, filter 0.4s;
}

.imgLayout:hover {
    transform: scale(1.07);
    filter: drop-shadow(0 0 5px #000000);
}

.popupGallery {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);;
}

.noneDisplay {
    display: none;
}

.popupGallery-content {
    width: 1110px;
    height: 810px;
    max-width: 100%;
    margin: auto;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery {
    display: none;
}

.close {
    color: white;
    font-size: 3.5em;
    font-weight: bold;
    z-index: 1;
    position: absolute;
    top: 15px;
    right: 30px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 24px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.4s;
    opacity: 0.5;
}

.prev {
    left: 0;
    border-radius: 0 8px 8px 0;
}

.next {
    right: 0;
    border-radius: 8px 0 0 8px;
}

.prev:hover, .next:hover {
    background-color: rgb(50, 50, 50);
    opacity: 1;
}

@media (max-width: 1200px) {
    .popupGallery-content {
        width: 760px;
        height: 560px;
    }
}

@media (max-width: 700px) {
    header {
        font-size: 16px;
    }

    #showGallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .popupGallery-content {
        width: 410px;
        height: 310px;
    }
}

@media (max-width: 400px) {
    .imgLayout {
        width: 280px;
        height: 200px;
    }
}